@import url("emojies_selector.css");
@import url("webcamera_chat.css");
@import url("attachment_selector.css");


/*- 100 % height for chat -------------------------------------- */



/*- Talk messages -------------------------------------------- */
#messages{
	height: 500px;
    	overflow-y: scroll;
    	background: ivory;
}
img.talk_messages_from_user_image{
	border-radius: 10%;
}
a.talk_messages_from_user_alias{
	color: #000;
	font-weight: bold;
}
span.talk_messages_date_and_time{
	color: #a0a0a2;
}
#variable_last_message_id{
	display: none;
}
#variable_last_message_id{
	clear: both;
}


/* New day */
div.talk_new_day {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 10px 0px 0px 0px; 
}
div.talk_new_day::before, div.talk_new_day::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #252525;
}
div.talk_new_day::before {
	margin-right: .25em;
}
div.talk_new_day::after {
	margin-left: .25em;
}

div.talk_new_day > p{
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	color: #252525;
}
/* New message */
#new_message_form{

}
#inp_text{
}

div.input_file{

}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
	width: 16px;
	padding: 4px 10px 4px 10px; 
	margin: -2px 4px 0px 4px;
	font: normal 14px 'Open Sans',sans-serif;
	background: #fff url("../_gfx/icon_add_image.png") no-repeat center center;
	border: #cccccc 1px solid; 
	border-radius: 5px;
	color: #333333;
}

.inputfile + label:hover {
	background-color: #ccc;
}