#login_page{

}

@media screen and (max-width: 52.375em) {
	#login_page{
		width: 250px;
		margin: 0px auto;
		/*
		background: #f2f2f2;
		padding: 0px 20px 10px 20px;
    		border: 0 none;
    		box-sizing: border-box;
		border: #e4e4e4 1px solid;
		border-bottom-left-radius: 5px;
    		border-top-left-radius: 5px;	
		*/
	}

	#login_page h1{
		text-align: center;
		padding-bottom: 20px;
	}

	#login_page .btn {
		width: 100%;
		padding: 8px 0px 8px 0px;
	}

	#login_page_password_right{
		margin-top: 10px;
		margin-left: 0px;
		float: right;
	}
	p.login_page_create_free_account{
		text-align: center;
	}
}

#login_page .btn {
	width: 250px;
	padding: 8px 12px 8px 12px;
}

#login_page p{
	padding: 4px 0px 12px 0px;
	margin: 0;
}
#login_page input[type=text]{
	 border-radius: 3px;
}


#login_page_password_left{
	margin-top: 10px;
	float: left;
}
#login_page_password_right{
	margin-top: 10px;
	margin-left: 45px;
	float: left;
}

#login_page input[type=password]{
	 border-radius: 3px;
	margin-top: 4px;
}


