/* ditlef.net English */


/*- Body -------------------------------------------------------------------------- */
html, body, div, span, object, iframe, img {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:transparent;
}
body {
	background: #f5f5f5;
	color: #000;
	font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;

}
table{
	border-spacing:0px; 
}
td{
	padding: 0px;
}
* {box-sizing: border-box;}



/*- Header ------------------------------------------------------------------ */
header{
	overflow: hidden;
	background-color: #ffffff;
}

	/*- Header left (Logo) ------------------------------------------------------ */
	header > div.header_left{
		float: left;
		margin: 11px 0px 11px 0px;
	}
	
	/* Header left link :: common */
	header > div.header_left > a {
		float: left;
		display: block;
		text-align: center;
		text-decoration: none;
		font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;
		padding: 8px 8px 8px 8px;
		margin: 0px 15px 0px 0px;

	}
	/* Header left link :: Menu */
	header > div.header_left > a.menu{
		padding: 5px 0px 8px 8px;
	}
	/* Header left link :: Logo */
	header > div.header_left > a.logo{
		border-radius: 5px;
		background: #000000;
		color: #ffffff;
		text-transform: Uppercase;
		font-weight: bold;
	}


	/*- Header center (Search) ------------------------------------------------ */
	header > div.header_center{
		float: left;
		margin: 10px 0px 0px 15px;
	}

	
	
	header > div.header_center > .header_search_container > form > input[type=text] {
		padding: 8px 0px 8px 6px;
		font-size: 17px;
		border: none;
		border-radius: 5px 5px 5px 5px;
		border: #d4d4d4 1px solid;
		background: #ffffff;
		font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;
		float: left;
	}
	
	
	header > div.header_center > .header_search_container > form > button {
		float: left;
		margin: 1px 30px 0px -33px;
		padding: 6px 6px 6px 6px;
		background: #fff;
		border: none;
		cursor: pointer;
		border-radius: 0px 5px 5px 0px;
	}
	header > div.header_center > .header_search_container > form > button:hover {
		background: #ebecfc;
		border-radius: 5px 5px 5px 5px;
	}
	
	/*- Header right ---------------------------------------------------------- */
	header > div.header_right{
		float: right;
		margin: 11px 0px 11px 0px;
	}
	
	/* Header right link :: common */
	header > div.header_right > a {
		float: left;
		display: block;
		text-align: center;
		text-decoration: none;
		font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;
		padding: 8px 8px 8px 8px;
		margin: 0px 15px 0px 0px;

	}
	
	/* Header right link :: nofill */
	header > div.header_right > a.nofill {
		border: #fff 1px solid;
		border-radius: 5px;
		color: #404040;

	}
	header > div.header_right a.nofill:hover {
		border: #ebecfc 1px solid;
		border-radius: 5px;
		background: #ebecfc;
		color: #2f3ab2;
	}
	
	/* Header right link :: fill */
	header > div.header_right > a.fill {
		border: #3b49df 1px solid;
		border-radius: 5px;
		color: #3b49df;

	}
	header > div.header_right a.fill:hover {
		background: #3b49df;
		color: #ffffff;
		border: #2f3ab2  1px solid;
		border-radius: 5px;
	}


/*- Nav -------------------------------------------------------------------- */
nav{
	display: none;
}