
/*- Left and right ------------------------------------------------------------------------------ */
div.exercises_float_left{
	float: left;
}
div.exercises_float_right{
	float: right;
}
@media screen and (max-width: 52.375em) {
	div.exercises_float_left{
		float: none;
	}
	div.exercises_float_right{
		float: none;
		padding: 0px 0px 0px 0px;
		overflow: auto;
		white-space: nowrap;
	}
}



/*- Meta ------------------------------------------------------- */
	div.meta_left{
		float: left;
		width: 500px;
		padding-right: 25px;
	}
	div.meta_right{
		float: right;
		width: 310px;
	}


	@media screen and (max-width: 52.375em) {
		div.meta_left{
			float: none;
		}
		div.meta_right{
			float: none;
		}
	}

