@import url("navigation.css");


/*- Body -------------------------------------------------------------------------- */
html, body, div, span, object, iframe, img {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
html {
	height: 100%;
}
body {
	background: #ebebeb;
	color: #000;
	font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;
	height: 100%;
}


/*- Header --------------------------------------------------------------------------- */
header{
	background: #fff;
	border-bottom: #e0e0e0 1px solid;
	overflow: auto;
}
	/*- Header top left ---------------------------------------------------------- */
	#header_top_left{
		background: #fff;
		padding: 10px 0px 10px 20px;
		float: left;
	}
	#header_top_left a{
		font: normal 22px Arial,"Helvetica Neue",Helvetica,sans-serif;
		color: #000;
		text-decoration: none;
	}
	/*- Header top center ---------------------------------------------------------- */
	#header_top_center{
		background: #fff;
		padding: 16px 0px 0px 20px;
		float: left;
	}
	#header_top_center p{
		display: none;
		padding: 0;
		margin: 0;
	}
	#coords{
		display: none;
	}
	#header_top_center > div.success{
		padding: 0px 0px 0px 0px;
	}
	#header_top_center > div.success > span{
		color: green;
	}
	/*- Header top right ---------------------------------------------------------- */
	#header_top_right{
		background: #fff;
		padding: 10px 10px 0px 0px;
		float: right;
	}

	#header_top_right ul{
		list-style:none;
		margin: 0px 0px 0px 0px;
		padding: 0;
	}
	#header_top_right ul > li{
		float:left;
		padding: 0px 0px 0px 0px;
		margin: 0px 4px 0px 0px;
	}
	#header_top_right ul > li > a{
		font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;
		display:block;
		padding: 4px 10px 4px 10px; 
		margin: 0 3px; 
		background: #fff;
		border: #cccccc 1px solid; 
		border-radius: 5px;
		color: #333333;
		text-decoration: none;
	}
	#header_top_right ul > li > a:hover, #header_top_right ul > li > a:active{
		color: #fff; /* white */
		text-decoration:none;
		background: #22608d; /* Dark blue */
	}
/*- Sub header --------------------------------------------------------------------------- */
#sub_header{
	clear: both;
	background: #f5f5f5;
	border-bottom: #e0e0e0 1px solid;
	overflow: auto;
}
	/*- Header menu left --------------------------------------------------------------- */
	#sub_header_left{
		padding: 10px 10px 10px 10px;
		overflow: auto;
		float: left;
	}
	#sub_header_left ul{
		list-style:none;
		margin: 0px 0px 0px 0px;
		padding: 0;
	}
	#sub_header_left ul > li{
		float:left;
		padding: 0px 0px 0px 0px;
		margin: 0px 4px 0px 0px;
	}
	#sub_header_left ul > li > a{
		font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;
		display:block;
		padding: 4px 10px 4px 10px; 
		margin: 0 3px; 
		background: #fff;
		border: #cccccc 1px solid; 
		border-radius: 5px;
		color: #333333;
		text-decoration: none;
	}
	#sub_header_left ul > li > a:hover, #sub_header_left ul > li > a:active{
		color: #fff; /* white */
		text-decoration:none;
		background: #22608d; /* Dark blue */
	}

	/*- Header menu right --------------------------------------------------------------- */
	#sub_header_right{
		overflow: auto;
		float: right;
	}

/*- Main ----------------------------------------------------------------- */
#main_wrapper{
	clear: both;
	display: flex;
}

	/*- Main left ------------------------------------------------------- */
	#main_left{
		flex: 1;
		background: #f5f5f5;
		border-right: #ebebeb 1px solid;
		-webkit-flex-basis: 200px; /* Safari 6.1+ */
		flex-basis: 200px;
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0px 20px 0px 0px;
		text-overflow: ellipsis; 
		white-space: nowrap; 
		overflow: hidden;

	}


	a.main_left_menu_header{
		display: block;
		background: #eeeeee;
		border-bottom: #e5e5e5 1px solid;
		font: normal 16px Arial,"Helvetica Neue",Helvetica,sans-serif;
		color: #000;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
	}
	a.main_left_menu_header > img{
		float: left;
	}
	div.display_uml{
		display: none;
	}

	/*- Main right ----------------------------------------------------------- */
	#main_right{
		flex: 1;
		flex-grow: 1;
		flex-shrink: 0;
		padding: 10px 10px 10px 10px;
		
	}
	#main_right_content{
		background: url("../_gfx/diagram/diagram_bg.png");
		min-height: 800px;
	}


	div.row{
		clear: left;
		float :left;
	}
	#main_right_content ul{
		list-style:none;
		margin: 0px 0px 0px 0px;
		padding: 0;
	}
	#main_right_content ul > li{
		float:left;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	#main_right_content ul > li > a{
		display:block;
	}