

/* Knowledge navigation */
#knowledge_navigation > ul {
	margin:0;
	padding:16px 0px 0px 0px;
	list-style:none;
}
#knowledge_navigation > ul > li {
	list-style-type: none;
	display: block;
	margin: 4px 0px 4px 0px;
}
#knowledge_navigation > ul > li > img {
	cursor:pointer;
}
#knowledge_navigation > ul > li > a {
	color: #18202e;
	font: normal 16px 'Open Sans',sans-serif;
	overflow: hidden;
	text-overflow: ellipsis; 
}
#knowledge_navigation > ul > li > a.knowledge_navigation_a_active {
	font-weight: bold;
}



/* Sub navigation */
#knowledge_navigation > ul > li > ul {
	display: none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	list-style:none;
}
#knowledge_navigation > ul > li > ul > li {
	list-style-type: none;
	display: block;
	margin: 4px 0px 4px 0px;
}
#knowledge_navigation > ul > li > ul > li > a {
	color: #18202e;
	font: normal 16px 'Open Sans',sans-serif;
	overflow: hidden;
	text-overflow: ellipsis; 
}
#knowledge_navigation > ul > li > ul > li > a.knowledge_navigation_b_active{
	font-weight: bold;
}




/* Sub Sub navigation */
#knowledge_navigation > ul > li > ul > li > ul{
	display: none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 30px;
	list-style:none;
}
#knowledge_navigation > ul > li > ul > li > ul > li{
	list-style-type: none;
	display: block;
	margin: 4px 0px 4px 0px;
}
#knowledge_navigation > ul > li > ul > li > ul > li > a {
	color: #18202e;
	font: normal 16px 'Open Sans',sans-serif;
	overflow: hidden;
	text-overflow: ellipsis; 
}
#knowledge_navigation > ul > li > ul > li > ul > li > a.knowledge_navigation_c_active{
	font-weight: bold;
}


/* Sub Sub Sub navigation */
#knowledge_navigation > ul > li > ul > li > ul > li > ul{
	display: none;
	margin:0;
	padding:0px 0px 0px 30px;
	list-style:none;
}
#knowledge_navigation > ul > li > ul > li > ul > li > ul > li{
	list-style-type: none;
	display: block;
	margin: 4px 0px 4px 0px;
}
#knowledge_navigation > ul > li > ul > li > ul > li > ul > li > a {
	color: #18202e;
	font: normal 16px 'Open Sans',sans-serif;
	overflow: hidden;
	text-overflow: ellipsis; 
}
#knowledge_navigation > ul > li > ul > li > ul > li > ul > li > a.knowledge_navigation_d_active{
	font-weight: bold;
}