@import url("navigation.css");
@import url("prism.css");

/*- Where am I -------------------------------------------------------------- */
div.knowledge_where_am_i{
	float: left;
}
div.knowledge_where_am_i > p{
	font-size: 90%;
	display:block;
	color: #656565;
	text-decoration:none;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
div.knowledge_where_am_i > p > a{
	padding: 0px 0px 0px 0px;
}
div.knowledge_where_am_i > p > span{
	padding: 0px 4px 0px 4px;
}

/*- Knowledge menu --------------------------------------------------------- */
div.knowledge_head_menu{
	float: right;
}
div.knowledge_head_menu > ul{
	list-style:none;
	margin: 0px 0px 0px 0px;
	padding: 0;
}
div.knowledge_head_menu > ul > li{
	float:left;
	padding: 0px 0px 0px 0px;
	margin: 14px 0px 0px 0px;
}
div.knowledge_head_menu > ul > li > a{
	font-size: 90%;
	display:block;
	padding: 4px 10px 4px 10px; 
	margin: 0 3px; 
	background: #fff;
	border: #cccccc 1px solid; 
	border-radius: 5px;
	color: #333333;
}
div.knowledge_head_menu > ul > li > a > img{
	float: left;
	padding-right: 4px;
}
div.knowledge_head_menu > ul > li > span > select{
	margin-top: 3px;
	margin-left: 3px;
}


/*- Tags ------------------------------------------------------------------- */
div.knowledge_tags{
	text-align: right;
}

/*- Comments ---------------------------------------------------------------- */
span.knowledge_comment_by{
	font-size: 90%;
}
a.knowledge_comment_author{
	font-size: 90%;
}
a.knowledge_comment_date{
	font-size: 90%;
	color: #858585;
}


/*- hor zebra --------------------------------------------------------- */
table.hor_zebra {
	width: 100%;
	text-align: left;
	border-spacing:0;
	border: #cccccc 1px solid;
}

/* head */
table.hor_zebra > thead {
	border-top: #cccccc 1px solid;
}

table.hor_zebra > thead > tr > th, table.hor_zebra > thead > tr > td {
	background: #e2e2e2;
	border: #fff 0px solid;
	border-top: #ffffff 1px solid;
	border-bottom: #cccccc 1px solid;
	padding: 4px;
	color: #000;
}


/* body */
table.hor_zebra > tr > td, table.hor_zebra > tbody > tr > td {
	padding: 8px 4px 8px 4px;
	border: #fff 0px solid;
	border-bottom: #cccccc 1px solid;
}
table.hor_zebra > tr > td, table.hor_zebra > tbody > tr:nth-child(odd) {
	background: #f3f3f3;
}
table.hor_zebra > tr > td, table.hor_zebra > tbody > tr:nth-child(even) {
	background: #f8f8f8;
}
table.hor_zebra > tr > td, table.hor_zebra > tbody > tr.important  {
	background: #ffe7e5;
	border-bottom: #ff4940 1px solid;
	border-top: #ff4940 1px solid;
}
table.hor_zebra > tr > td, table.hor_zebra > tbody > tr.danger {
	background: #fff7e5;
	border-bottom: #eabc63 1px solid;
}

table.hor_zebra > tr > td, table.hor_zebra > tbody > tr:hover {
	background: #faf4f2;
}

